:root {
    --ff-main: 'Epilogue', sans-serif;

    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.375rem;
    --fs-800: 1.5rem;
    --fs-900: 1.625rem;
    --fs-1000: 1.75rem;
    --fs-1200: 2.25rem;
    --fs-1500: 2.625rem;
    --fs-2000: 3.5rem;
    --fs-2300: 4.125rem;
    --fs-2400: 4.25rem;
    --fs-2500: 4.375rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--ff-main);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
}

.nav-right {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: var(--fs-2300);
    font-weight: 700;
}

p {
    width: 90%;
    line-height: 2.5ch;
}

button {
    padding: 1rem 2rem;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid transparent;
}

button:hover {
    cursor: pointer;
}

.border {
    border: 1px solid black;
}

.inverted {
    background-color: black;
    color: white;
    border: 1px solid black;

    font-size: var(--fs-500);
}

.inverted:hover {
    background-color: white;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-left > ul {
    display: flex;
    gap: 2rem;
}

li {
    display: flex;
    align-items: center;
    list-style-type: none;

    position: relative;
}

li > a {
    display: flex;
    align-items: center;
    gap: 1ch;
    transition: all 0.15s ease;
}

li > a:hover {
    transform: scale(1.05);

}

.dropdown{
    position: absolute;
    line-height: 24px;
    top: 40px;
    left: 0px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(172, 172, 172);
}

.dropdown > li > a > img {
    width: 16px; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0rem 15rem;
}

main > div {
    height: 800px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.text > h1 {
    margin-top: 7.5rem;
}

.image {
    display: flex;
    align-items: center;
}

.image > img {
    height: 80%;
}

.brands {
    display: flex;
    gap: 2rem;
}

#mobile {
    display: none;
}

.mobile-menu {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;

    display: flex;
}

.left {
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.right {
    display: flex;
    width: 60%;
    justify-content: flex-end;

    background-color: white;
}

.right > ul {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 50em) {

    h1 {
        font-size: var(--fs-1200);
    }

    p {
        width: 80%;
    }

    #desktop {
        display: none;
        
    }
    #mobile {
        display: inline;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        padding: 1rem 1rem;
    }

    main {
        flex-direction: column-reverse;
        padding: 0 0;
    }

    main > div {
        max-height: auto;
        height: auto;
    }

    .text {
        text-align: center;
        align-items: center;

        margin-top: -8rem;
        margin-bottom: 3rem;
        gap: 2rem;
    }

    main .image {
        width: 100%;
        padding-top: 1rem;
    }

    .image > img {
        width: 100%;
    }

    .brands > li img {
        width: 100%;
        height: 100%;
    }

    /* IMAGES LOOK SQUISHED */
    .brands > li {
        width: 60px;
    }

    .brands {
        padding: 0 1rem;
    }

}


/* Utility */
.hidden { display: none; }