:root {
    --clr-primary-100:hsl(0, 0%, 100%);
    --clr-primary-200:hsl(0, 0%, 0%);
    --clr-primary-300:hsl(0, 0%, 55%);
    --clr-primary-400:hsl(0, 0%, 41%);

    --ff-primary: 'Alata', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;

    --fs-100: .625rem;
    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: .925rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 1.25rem;
    --fs-800: 1.375rem;
    --fs-900: 1.5rem;
    --fs-1000: 1.75rem;
    --fs-1250: 2.1875rem;
    --fs-1500: 2.625rem;
    --fs-1750: 3.0625rem;
    --fs-2000: 3.5rem;

    --fw-light: 300;
    --fw-regular: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
}

h1 {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-size: var(--fs-1500);
    font-weight: var(--fw-light);
}

.top-section {
    height: 700px;
    background-image: url(./resources/images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    color: var(--clr-primary-100);
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    list-style-type: none;    
}

.navbar-item > a {
    color: var(--clr-primary-100);
    text-decoration: none;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    background-color: rgba(67, 67, 67, 0.75);
    border-radius: 10px;
}

.menu-open {
    display:block;
}

.tagline {
    width: 500px;
    padding: 2rem ;
    border: 2px solid var(--clr-primary-100);
    color: white;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: 64px;
    font-weight: var(--fw-light);
}

.subcontainer > .image >img {
    z-index: 2;
    width: 80%;
}



#interactive-mobile {
    display: none;
}

.interactive-text {
    background-color: white;
    width: 30rem;
    padding-left: 4rem;
    padding-top: 4rem;
    position: relative;
    left: 450px;
    top: -16rem;
    z-index: 1;
    margin-bottom: -16rem;
}

.interactive-text > p {
    color: var(--clr-primary-300);
}

#creations header {
    display: flex;
    justify-content: space-between;
}

#creations button {
    background-color: transparent;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    font-weight: bold;
    letter-spacing: .5ch;
    padding: .75rem 2rem;
    border: 2px solid black;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#creations button:hover {
    background-color: var(--clr-primary-300);
    transition: .2s ease-in-out;
}

.see-all-mobile {
    display: none;
}

.creations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 3rem;
    color: white;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
}

.card {
    height: 390px;
    width: 240px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: inset 0 -100px 200px black;
    cursor: pointer;
}

.card-content { 
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: var(--fs-1250);
    width: 16rem;
}


#deep-earth {background-image: url(./resources/images/desktop/image-deep-earth.jpg);}
#night-arcade {background-image: url(./resources/images/desktop/image-night-arcade.jpg);}
#soccer-team {background-image: url(./resources/images/desktop/image-soccer-team.jpg);}
#the-grid {background-image: url(./resources/images/desktop/image-grid.jpg);}
#from-up-above {background-image: url(./resources/images/desktop/image-from-above.jpg);}
#pocket-borealis {background-image: url(./resources/images/desktop/image-pocket-borealis.jpg);}
#the-curiosity {background-image: url(./resources/images/desktop/image-curiosity.jpg);}
#make-it-fisheye {background-image: url(./resources/images/desktop/image-fisheye.jpg);}

.footer {
    background-color: var(--clr-primary-200);
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    list-style-type: none;
}

.footer-links-item > a {
    color: var(--clr-primary-100);
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    gap: .75rem;
    list-style-type: none;
}

.copyrights {
    color: var(--clr-primary-300);
}

@media screen and (max-width:50em) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        margin: 0 50px;
    }
    
    .top-section {
        background-image: url(./resources/images/mobile/image-hero.jpg);
    }

    .navbar-links {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        right: 50px;
        z-index: 2;
    }

    .mobile-menu > .navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 4em;
        gap:1rem;
    }
    
    .mobile-menu > .navbar-links > .navbar-item {
        padding: .5rem;
    }
    .menu-button {
        display: inline;
    }

    .image > img {
        width: 100%;
    }

    .interactive-text {
        width: 100%;
    }

    .interactive-text > h1 {
        font-size: var(--fs-1000);
    }

    .tagline {
        width: 90%;
        font-size: var(--fs-1000);
        
    }

    #interactive-desktop {
        display: none;
    }

    #interactive-mobile {
        display: inline;
    }

    .subcontainer > .image > img {
        width: 100%;
    }

    .interactive-text {
        position: static;
        margin-top: 60px;
        margin-bottom: 0;
        padding: 0 0;    
        text-align: center;

    }

    .see-all-desktop {
        display: none;
    }

    .see-all-mobile {
        display: inline;
    }

    div .see-all-mobile {
        display: flex;
        justify-content: center;
    }

    .creations {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #creations h1 { 
        text-align: center;
    }

    .card {
        width: 95%;
        height: 100px;
        box-shadow: inset 0 -50px 50px black;
    }

    .card-content {
        font-size: var(--fs-800);
        width: 60%;
        padding-bottom: 5px;
    }

    #deep-earth {background-image: url(./resources/images/mobile/image-deep-earth.jpg);}
    #night-arcade {background-image: url(./resources/images/mobile/image-night-arcade.jpg);}
    #soccer-team {background-image: url(./resources/images/mobile/image-soccer-team.jpg);}
    #the-grid {background-image: url(./resources/images/mobile/image-grid.jpg);}
    #from-up-above {background-image: url(./resources/images/mobile/image-from-above.jpg);}
    #pocket-borealis {background-image: url(./resources/images/mobile/image-pocket-borealis.jpg);}
    #the-curiosity {background-image: url(./resources/images/mobile/image-curiosity.jpg);}
    #make-it-fisheye {background-image: url(./resources/images/mobile/image-fisheye.jpg);}

    footer {
        margin: 0 0;
        align-items: center;
    }

    .footer > footer{
        flex-direction: column;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-links {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        width: 40%;
    }

    .icons {
        margin-top: 40px;
    }

    .footer-div {
        display: flex;
        justify-content: center;
    }

    .copyrights {
        text-align: center;
    }
}

@media (min-width: 50em) {
    .menu-open {
        display: none;
    }
}

/* Utilities */

.hidden { display: none; }

.ff-primary { font-family: var(--ff-primary); }
.ff-primary { font-family: var(--ff-secondary); }

.fw-light { font-weight: var(--fw-light);}
.fw-regular { font-weight: var(--fw-regular);}

.fs-100 { font-size: var(--fs-100); }
.fs-200 { font-size: var(--fs-200); }
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }
.fs-800 { font-size: var(--fs-800); }
.fs-900 { font-size: var(--fs-900); }

.spacer-100 { height: 20px; }
.spacer-200 { height: 40px; }
.spacer-300 { height: 60px; }
.spacer-400 { height: 80px; }
.spacer-500 { height: 100px; }
.spacer-600 { height: 120px; }
.spacer-700 { height: 140px; }
.spacer-800 { height: 160px; }

.padding-spacer-100 { padding-top: 20px; }
.padding-spacer-200 { padding-top: 40px; }
.padding-spacer-300 { padding-top: 60px; }
.padding-spacer-400 { padding-top: 80px; }
.padding-spacer-500 { padding-top: 100px; }
.padding-spacer-600 { padding-top: 120px; }
.padding-spacer-700 { padding-top: 140px; }
.padding-spacer-800 { padding-top: 160px; }

.margin-spacer-100 { margin-top: 20px; }
.margin-spacer-200 { margin-top: 40px; }
.margin-spacer-300 { margin-top: 60px; }
.margin-spacer-400 { margin-top: 80px; }
.margin-spacer-500 { margin-top: 100px; }
.margin-spacer-600 { margin-top: 120px; }
.margin-spacer-700 { margin-top: 140px; }
.margin-spacer-800 { margin-top: 160px; }